<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar class="Header sticky-top">
  <p>To Do<p>

  <form class="Search" (submit)="onSearch(searchForm)" #searchForm="ngForm"  matTooltip="Search"
  matTooltipPosition="below">
    <button type="submit" class="material-icons btn">search</button>
    <input type="text" name="search" ngModel #search="ngModel" required>
  </form>
  <button mat-raised-button class="authbtn" *ngIf="isAuth" (click)="logout()">Logout</button>

</mat-toolbar>
