
.container-fluid {
  height: 100%;
  padding: 0px;
}
.row.r1 {
  height: 100%;
  margin: 0px;
  display: flex;
  overflow-y: hidden;
}

.c1 {
  width: 50px;
  height: 100%;
  background-color: rgb(244, 244, 244);
  position: fixed;
}
.c2 {
  flex-grow: 1;
  height: 100%;
  padding-left: 50px;
}
.c2 .completed {

}
.menubtn {
  margin-top: 16px;
  margin-bottom: 8px;
  color: #465efc;
}
.menubtn:hover {
  background-color: white;
}
.sidenavbtns {
  overflow: hidden;
  width: 100%;
}
.sidenavbtns .btn {
  text-align: left;
}
.sidenavbtns span {
  margin-left: 0.5rem;
}
.myday {
  width: 100%;

  height: 36px;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
}
.myday a {
  font-size: 18px;
  padding-top: 8px;
}

.myday .material-icons::before {
  margin-right: 8px;
  font-size: 18px;
  content: "wb_sunny";
}
.myday:hover .material-icons {
  transform: scale(1.3);
  transition: 0.3s;
} /*
@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.2,1.2);
  }
  100% {
      transform: scale(1,1);
  }
}*/
.myday:hover {
  background-color: white;
}
.mytask {
  width: 100%;
  cursor: pointer;
  height: 36px;
  font-size: 18px;
  overflow: hidden;
}
.mytask a {
  font-size: 18px;
  padding-top: 8px;
}

.mytask .material-icons {
  margin-right: 8px;
}
.mytask:hover {
  background-color: white;
}
.mytask:hover .material-icons {
  transform: scale(1.3);
  transition: 0.3s;
}
.important {
  width: 100%;
  cursor: pointer;
  height: 36px;
  font-size: 18px;
  overflow: hidden;
}
.important a {
  font-size: 18px;
  padding-top: 8px;
}

.important .material-icons {
  margin-right: 8px;
}
.important:hover {
  background-color: white;
}
.important:hover .material-icons {
  transform: scale(1.3);
  transition: 0.3s;
}
.navselected {
  width: 100%;

  padding: 18px 16px 0px 24px;
}

.Md {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  color: rgb(52, 55, 61);
}

.Md button {
  padding: 0px;
  background-color: white;
  border-radius: 2px;
}
.Md button:hover {
  background-color: rgb(237, 237, 237);
  border-radius: 2px;
}
.d {
  font-family: "Segoe UI";
  font-size: 12px;
  color: rgb(52, 55, 61);
  margin: 0px;
}

.imptsk {
  font-size: 22px;
  font-family: "Segoe UI";
  color: rgb(62, 136, 234);
}
.tskpgrph {
  font-size: 22px;
  font-family: "Segoe UI";
  color: rgb(62, 136, 234);
}
.tskinput {
  width: 100%;
  padding: 12px 24px 0px 24px;
}
.completed {

  margin: 12px 24px 0px 24px;
  border-bottom: 1px solid #e5e5e5;
}
.completed .completedheader {
  width: 100%;
}
#icon {
  padding-left: 0px;
  padding-right: 0px;
  transition: 0.5s;
}
.completedheader .a {
  font-size: 18px;
  font-family: "Segoe UI";
  color: black;
  font-weight: 600;
}
.completedtask {
  border-bottom: 1px solid #e5e5e5;

  padding-top: 7px;
  padding-bottom: 7px;
}
.completedtask .ctb.material-icons::before {
  content: "check_circle_outline";
}

.completedtask .ctb1 {
  float: right;
}
.completedtask .ctb1.material-icons::before {
  content: "star_border";
}
.completedtask .ctb1:hover.material-icons::before {
  font-weight: 600;
}
.lines {
  flex: 1;
  background: linear-gradient(
    180deg,
    white,
    white 52px,
    #e5e5e5 52px,
    #e5e5e5 52px
  );
  background-size: 100% 53px;
  box-shadow: inset 0 1px 0 0 #e5e5e5;
  height: 100%;

  margin: 0px 24px 0px 24px;
}

.pendingtask {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0px 24px 0px 24px;
}
.pendingtask .ctb.material-icons::before {
  content: "panorama_fish_eye";
}
.pendingtask .ctb:hover.material-icons::before{
  content: "check_circle_outline";
}
.pendingtask .ctb1 {
  float: right;
}
.pendingtask .ctb2 {
  float: right;
}
.pendingtask .ctb1.material-icons::before {
  content: "star_border";
}
.pendingtask .ctb2.material-icons::before {
  content: "star";
}
.pendingtask .ctb1:hover.material-icons::before {
  font-weight: 600;
}
@media screen and (min-width: 320px) {
  .c2 {
    width: 270px;
  }
}
@media screen and (min-width: 365px) {
  .c2 {
    width: 270px;
  }
}
