<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
  <div class="row r1">
    <div class="c1 " id="sidenav">
      <div class="menubtn btn ">
        <mat-icon class="material-icons" (click)="togglefunc()">menu</mat-icon>
      </div>
      <div class="sidenavbtns ">
        <div class="myday col" (click)="navigate('myDay')">
          <a class="material-icons"></a>
          My Day
        </div>
        <div class="important col" (click)="navigate('important')">
          <a class="material-icons">star_border</a>
          Important
        </div>
        <div class="mytask col" (click)="navigate('tasks')">
          <a class="material-icons">home</a>
          Tasks
        </div>

      </div>
    </div>
    <div class="c2" id="col2">
      <div class="navselected col">
        <div *ngIf="myDay">
          <div class="heading">
            <p class="Md">My Day
              <button class="btn " matTooltip="List options" matTooltipPosition="below">
                <mat-icon>more_horiz</mat-icon>
              </button></p>
          </div>
          <p class="d">{{day}}, {{month}} {{date}}</p>
        </div>
        <div *ngIf="tasks">
          <p class="tskpgrph">
            Tasks<button class="btn " matTooltip="List options" matTooltipPosition="below">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </p>
        </div>
        <div *ngIf="important">
          <p class="imptsk">Important</p>
        </div>
      </div>
      <div class="tskinput">
        <app-task-create></app-task-create>
      </div>
      <div class="pendingtask" *ngFor="let task of tasklist">
        <div class="pendingtask_item" *ngIf="!task.status">
          <a class="btn material-icons ctb" (click)="complete(task)"></a>
          <a class="btn cta">{{task.task_name}}</a>
          <a class="btn ctb1 material-icons" (click)="markimportant(task)" *ngIf="!task.important"></a>
          <a class="btn ctb2 material-icons" (click)="markimportant(task)" *ngIf="task.important"></a>
        </div>
      </div>
      <div class="completed" *ngIf="completedlen">
        <div class="completedheader" (click)="listcomplete()">
          <a class="btn material-icons" id="icon">keyboard_arrow_right</a>
          <a class="btn a">Completed</a>
        </div>
        <div class="list" *ngIf="arrowtoggle">
          <div class="completedtask " *ngFor="let task of tasklist">
            <div class="completedtask_item " *ngIf="task.status">
              <a class="btn material-icons ctb"></a>
              <a class="btn cta"><s>{{task.task_name}}</s></a>
              <a class="btn ctb1 material-icons" (click)="markimportant(task)" *ngIf="!task.important"></a>
              <a class="btn ctb2 material-icons" (click)="markimportant(task)" *ngIf="task.important"></a>
            </div>
          </div>
        </div>

      </div>




      <div class="lines">

      </div>
    </div>
  </div>
</div>